body {
  background-color: #F9ED69;
  font-family: "Dosis", sans-serif;
}

.header__logo {
  padding: 15px;
  font-weight: 600;
  font-size: 3rem;
  position: fixed;
  left: 0;
  top: 0;
}
.header__logo a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: inherit;
}

.main {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-counter {
  font-weight: 700;
  font-size: 5rem;
  color: #B83B5E;
}
.main-number {
  font-weight: 700;
  font-size: 10rem;
  margin-top: 50px;
  color: #B83B5E;
}
.main-buttons {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-buttons__centrify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-buttons button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}